<div class="container">
    <div class="cover">
        <div class="w-constraint">
            <h1 class="title">Flexible pricing 
                to fit all your 
                needs</h1>
            <p class="subtitle mtm">Choose one of our plans or 
                build your own.</p>
        </div>

    </div>
    <div class="all-plans grid">
        <div class="current-plan">
            <h1 class="plan-title">Standard</h1>
            <h2 class="plan-price mtm">
                <span class="number">
                    <strong>$19.99</strong>
                </span>
                <span class="duration">/month</span>
            </h2>

            <ak-button text="Get Started" buttonClasses="ak-button flat large white mtxl" (click)="linkk.click()"></ak-button>
            <a hidden #linkk [href]="downloadLink" target="_blank"></a>
            
            <div class="features flex-col h-start mtxl">
                <div class="flex-row feature center v-start">
                    <mat-icon class="check-icon">check</mat-icon>
                    <p class="feature-txt">2 characters per month</p>
                </div>
                <div class="flex-row feature center v-start">
                    <mat-icon class="check-icon">check</mat-icon>
                    <p class="feature-txt">AR</p>
                </div>
                <div class="flex-row feature center v-start">
                    <mat-icon class="check-icon">check</mat-icon>
                    <p class="feature-txt">3D interaction</p>
                </div>
                <div class="flex-row feature center v-start">
                    <mat-icon class="check-icon">check</mat-icon>
                    <p class="feature-txt">AI Chat</p>
                </div>
            </div>
        </div>
        <div class="current-plan coming-soon">
            <h1 class="plan-title">Standard</h1>
            <h2 class="plan-price mtm">
                <span class="number">
                    <strong>$19.99</strong>
                </span>
                <span class="duration">/month</span>
            </h2>

            <ak-button text="Get Started" buttonClasses="ak-button flat large white mtxl" (click)="linkk.click()"></ak-button>
            <a hidden #linkk [href]="downloadLink" target="_blank"></a>
            
            <div class="features flex-col h-start mtxl">
                <div class="flex-row feature center v-start">
                    <mat-icon class="check-icon">check</mat-icon>
                    <p class="feature-txt">2 characters unlocked per month</p>
                </div>
                <div class="flex-row feature center v-start">
                    <mat-icon class="check-icon">check</mat-icon>
                    <p class="feature-txt">AR</p>
                </div>
                <div class="flex-row feature center v-start">
                    <mat-icon class="check-icon">check</mat-icon>
                    <p class="feature-txt">3D interaction</p>
                </div>
                <div class="flex-row feature center v-start">
                    <mat-icon class="check-icon">check</mat-icon>
                    <p class="feature-txt">AI Chat</p>
                </div>
            </div>
        </div>
        <div class="current-plan coming-soon">
            <h1 class="plan-title">Standard</h1>
            <h2 class="plan-price mtm">
                <span class="number">
                    <strong>$19.99</strong>
                </span>
                <span class="duration">/month</span>
            </h2>

            <ak-button text="Get Started" buttonClasses="ak-button flat large white mtxl" (click)="linkk.click()"></ak-button>
            <a hidden #linkk [href]="downloadLink" target="_blank"></a>
            
            <div class="features flex-col h-start mtxl">
                <div class="flex-row feature center v-start">
                    <mat-icon class="check-icon">check</mat-icon>
                    <p class="feature-txt">2 characters unlocked per month</p>
                </div>
                <div class="flex-row feature center v-start">
                    <mat-icon class="check-icon">check</mat-icon>
                    <p class="feature-txt">AR</p>
                </div>
                <div class="flex-row feature center v-start">
                    <mat-icon class="check-icon">check</mat-icon>
                    <p class="feature-txt">3D interaction</p>
                </div>
                <div class="flex-row feature center v-start">
                    <mat-icon class="check-icon">check</mat-icon>
                    <p class="feature-txt">AI Chat</p>
                </div>
            </div>
        </div>
    </div>
</div>