:host {
    .character-container {
        background: var(--character-preview-bg);
        text-align: center;
        padding: 16px;
        .img-container {
            max-width: 415px;
            img {
                max-width: 100%;
                height: auto;
            }
        }

        .left-panel {
            margin-top: 48px;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .character-name {
                /* Display/Display-2-medium-mobile */
                font-family: 'Lora';
                font-style: normal;
                font-weight: 500;
                font-size: 34px;
                line-height: 38px;
                /* identical to box height, or 112% */
                /* Palette-olive/Olive-900 */
                color: var(--character-name);
            }
    
            .character-designation {
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                /* identical to box height, or 150% */
    
    
                /* Palette-olive/Olive-700 */
    
                color: #1E2724;
    
                mix-blend-mode: normal;
    
            }
    
            .character-era {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                /* identical to box height, or 150% */
    
    
                /* Palette-olive/Olive-700 */
    
                color: var(--character-era);
            }

            .character-description {
                max-width: 500px;
                color: var(--character-description);
            }
        }

    }

    @media only screen and (min-width:768px)  {
        .left-panel {margin-top: 0px}
        .character-container {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            gap: 100px;
        }
    }
}