.highcharts-point {
    fill: #1E2724;
    stroke-width: 0;
}

.highcharts-background { 
    // fill: black;
    fill: url("../../../assets/teleport-bg.png");
}

.highcharts-plot-border {
    stroke-width: 2px;
    stroke: transparent
}

.highcharts-tooltip {
    pointer-events: all !important;
    background: black;
    border-radius: 8px;
    span {
        background: black;
        border-radius: 8px;    
    }
  }
   svg > g.highcharts-label.highcharts-tooltip.highcharts-color-1 > path {
    fill: black;
    width: 311px
  }

  .tooltip-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: black;
    color: white;
    text-align: center;
    width: 311px;
    padding: 24px;
    border-radius: 8px;
    word-break: break-word;
    white-space: normal;
    .tooltip-img-container {
        // border: 10px solid #37BB93;
        border-radius: 50%;
        width: 100px;
        margin: auto;
        img {
            width: 80px;
            background-color: #C6D0CD;
            height: auto;
            border-radius: 50%;
            border: 10px solid #37BB93;
        }


    }
  }
  
  .character-name {
    font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  }
  
  .century {
    font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  }
  .one-liner {
    font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  }
  
  .summon-btn {
    background-color: #FF5810;
    color: white;
    padding: 8px 69px;
    border-radius: 4px;
    font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  cursor: pointer;
  }

  path.highcharts-tooltip-box {
    background: black;
  }

  .mat-select-panel {
    background: #424242;
    color: white;
  }

  .teleport-header {
    display: flex;
    justify-content: space-around;
    flex-direction: column-reverse;
    align-items: center;
    .text {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .compass-img {}
  }
 
  // .map-container {
  //   padding: 0px 10px;
  //   height: 400px;
  // }

@media only screen and (min-width: 768px) {
    .teleport-header {
        flex-direction: row;
    }
    .map-container {
      padding: 0px 50px;
      height: calc(100vh - 291px);
    }
}