
    .container {
        padding: 16px;
        max-width: 692px;
        align-items: center;
        margin: auto;
        justify-content: center;
        .blog-body {
            max-width: 100%;
            figure.image {
                margin-block-start: 0;
                margin-block-end: 0;
                margin-inline-start: 0;
                margin-inline-end: 0;
                img {max-width: 100%;}
            }
            color: var(--post-title);
            a {color: var(--blog-read-more);}
        }
    }
