@import "../../styles/helpers.scss";
@import "../../styles/colors.scss";

:host {

    .latest-blog {
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        background: #FDF7F0;
        background: var(--blog-bg);
        img.cover {
            max-width: 100%;
        }
        .all-text {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
        .title {color: var(--blog-title);}

        .subtitle {
            max-width: 336px;
            color: var(--blog-subtitle);
        }

        .category-and-time {
            font-weight: 600;
            font-size: 13px;
            line-height: 20px;
            color: #7B8682;
            color: var(--blog-category-time);
        }

        .blog-title {
            font-family: 'Lora';
            font-style: normal;
            font-weight: 400;
            font-size: 34px;
            line-height: 38px;
            color: #32423C;
            color: var(--post-title);
        }

        .blog-text {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #32423C;
            color: var(--post-body);
        }

        .read-more-link {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #485652;
            color: var(--blog-read-more);
            cursor: pointer;
        }
    }

    .articles-list {
        padding: 80px 16px;
        background: white;
        background: var(--blog-articles-list-bg);
        .card-list {
            max-width: 800px;
            margin: auto;
        }

        .article-card {
            width: 100%;
            height: fit-content;
        }
    }
    

    @media only screen and (min-width: 1024px) {
        .latest-blog {
            .width-constraint {
                max-width: 1040px;
                margin: auto;
                .cover-and-text {
                    margin: auto;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 20px;
                    margin-top: 48px;
                    .cover-div, .all-text { flex: 1;}
                }
            }

        }
        // .latest-blog {
        //     height: 586px;
        //     background: #FDF7F0;
        //     padding: 48px 200px;
    
        //     .title {}
    
        //     .subtitle {
        //         max-width: 336px;
        //     }
    
        //     .category-and-time {
        //         font-weight: 600;
        //         font-size: 13px;
        //         line-height: 20px;
        //         color: #7B8682;
        //     }
    
        //     .blog-title {
        //         font-family: 'Lora';
        //         font-style: normal;
        //         font-weight: 400;
        //         font-size: 34px;
        //         line-height: 38px;
        //         color: #32423C;
        //     }
    
        //     .blog-text {
        //         font-weight: 400;
        //         font-size: 14px;
        //         line-height: 22px;
        //         color: #32423C;
        //     }
    
        //     .read-more-link {
        //         font-weight: 600;
        //         font-size: 16px;
        //         line-height: 24px;
        //         color: #485652;
        //         cursor: pointer;
        //     }
        // }
    
        // .articles-list {
        //     margin-top: 80px;
        //     .card-list {
    
        //     }
    
        //     .article-card {
        //         width: 333px;
        //         height: 418px;
        //     }
        // }
        
    }
}